/*All css in this module will only relate to Recipe.js*/

.recipe {
    border-radius: 10px;
    box-shadow: 0 5px 20px rgb(71,71,71);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    align-items: center;
    min-width: 40%;
    margin: 20px;
}

.image {
    border-radius: 50%;
    width: 100px;
    height: 100px;

}
